.*.sw*
.build

rainbow-lollipop
rainbow-lollipop.pot
libalaiaextension.so
alaiawebextension.vapi

CMakeCache.txt
CMakeFiles/

Makefile
src/*.c
src/dummy.vala_valac.stamp
src/dummy2.vala_valac.stamp
cmake_install.cmake
install_manifest.txt
