[Desktop Entry]
Type=Application
Version=1.0
Name=Rainbow Lollipop
GenericName=Browser
GenericName[de]=Weltnetz-Stöberer
GenericName[fi]=Selain
GenericName[pl]=Przeglądarka
GenericName[se]=webbläsare
tryExec=rainbow-lollipop
Exec=rainbow-lollipop %u
Comment=The Visual History Browser
Icon=rainbow-lollipop
Terminal=false
Categories=Network;Gtk;Internet;
MimeType=text/html;
